/Java/LecturerV/MyApp2/nbproject/private/
/Java/LecturerV/MyApp2/build/
/Java/LecturerV/MyApp1/nbproject/private/
/Java/LecturerV/MyApp3/nbproject/private/
/Java/LecturerV/MyApp3/build/
/Java/LecturerV/MyPg1/nbproject/private/
/Java/LecturerV/MyPg1/build/
/Java/LecturerV/MyPg1/dist/
/Java/myJava/MyWeb1/nbproject/private/
/Java/myJava/MyWeb1/build/
/Java/myJava/MyWeb2/nbproject/private/
/Java/myJava/MyWeb2/build/
/Java/myJava/MyWeb3/nbproject/private/
/Java/myJava/MyWeb3/build/
/Java/myJava/MyPg2/nbproject/private/
/Java/myJava/MyPg2/build/
/Java/myJava/MyPg2/dist/
/Java/myJava/ReviewApp/nbproject/private/
/Java/myJava/ReviewApp/build/
/Java/myJava/MyPrj1/nbproject/private/
/Java/LecturerV/MyPrj2/nbproject/private/
/Java/myJava/MyPrj1/build/
/Java/LecturerV/MyPrj2/build/
/Java/myJava/HTL7/nbproject/private/
/Java/myJava/HTL7/build/
/Java/myJava/MyPrj3/nbproject/private/
/Java/myJava/MyPrj3/build/
/Java/myJava/MyTst1/nbproject/private/
/Java/myJava/MyTst2/nbproject/private/
/Java/myJava/MyTst2/build/
/Java/myJava/MyTst3/nbproject/private/
/Java/myJava/MyTst3/build/
/Java/myJava/MyTst4/nbproject/private/
/Java/myJava/MyTst4/build/
/Java/myJava/MyTst5/nbproject/private/
/Java/myJava/MyTst5/build/
/Java/myJava/StudentCRUD/nbproject/private/
/Java/myJava/StudentCRUD/build/
/Java/myJava/StudentCRUD/dist/
/Java/myJava/PatientCrud/nbproject/private/
/Java/myJava/Hospital_GN2/nbproject/private/
/Java/myJava/PatientCrud/build/
/Java/Project/Junit/Calculator/nbproject/private/
/Java/Project/Junit/Calculator/build/
/Java/Project/Junit/TestCases/TestCases/nbproject/private/
/Java/Project/Junit/TestCases/TestCases/build/
/Java/Project/MvProject1/target/
/Java/Project/CodeCoverage/target/
/Java/Project/CodeCoverage/nbproject/
/Java/Project/mavenproject1/target/
/Java/LecturerV/CodeCoverage/nbproject/
/Java/LecturerV/CodeCoverage/target/
/Java/myJava/Hospital_GN2/build/
/Java/Project/HTL5/nbproject/private/
/Java/Project/HTL7/nbproject/private/
/Java/Project/HTL7/build/
/Java/myJava/HTL7/dist/
/Java/myJava/Register/nbproject/private/
/Java/Project/ProductDemo/dist/
