/Java/LecturerV/MyApp2/nbproject/private/
/Java/LecturerV/MyApp2/build/
/Java/LecturerV/MyApp1/nbproject/private/
/Java/LecturerV/MyApp3/nbproject/private/
/Java/LecturerV/MyApp3/build/
/Java/LecturerV/MyPg1/nbproject/private/
/Java/LecturerV/MyPg1/build/
/Java/LecturerV/MyPg1/dist/
