*{
    box-sizing: border-box;
  }
  .header, .footer {
    background-color: rgba(100, 30, 30, 0.555);
    font-size: large;
    color: bisque;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 20px;
  }

  .nav-right{
    float: right;
  }
  .nav-right a{
    color: bisque;
  }
  .nav-right a:hover{
    color: darkred;
  }
  .nav-right a:visited{
    color: rgb(155, 69, 76);
  }
  .column {
    float: left;
    padding: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  
  .clearfix::after {
    content: "";
    clear: both;
    height: 300px;
    display: table;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  
  .menu {
    width: 25%;
  }
  
  .content {
    width: 75%;
    height: 300px;
  }
  
  .menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .menu li {
    padding: 8px;
    margin-bottom: 8px;
    background-color: #cfb025;
    color: #ffffff;
  }
  
  .menu li:hover {
    background-color: #666f72;
  }